$primary-color: #0f766e; // theme primary color, change this value to customize theme
$secondary-color: #334155; // theme secondary color, change this value to customize theme

$primary-color-focus: rgba(15, 118, 110, 0.12);

